h1{

    color: red;
    font-family: 'Aref Ruqaa', serif;
}

h2{
    font-family: 'Bungee', cursive;
    color: red;
}
h3{
    font-family: 'Yuji Boku', serif;
    color: red;
}
.s1{
    color: red;
    font-family: 'Inspiration', cursive;
}
.s2{
    font-family: 'Palette Mosaic', cursive;
    color: red;
}